
<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
	<body>

		<div ng-app="myFirstApp" ng-controller="btnController">
			 <button ng-click="redBtn()">Red</button>
			 <button ng-click="yellowBtn()">Yellow</button>
			 <p>You just pressed {{ btn | lowercase }} button!</p>
		</div>
		<script>
		var myFirstApp = angular.module('myFirstApp', []);

		myFirstApp.controller('btnController', [ '$scope', function($scope) {
				$scope.btn = "none";

				$scope.redBtn = function() {
					$scope.btn = "Red";
				};

				$scope.yellowBtn = function(){
					$scope.btn = "Yellow";
				};
		}]);
		</script>

	</body>
</html>
