<div class="modal" tabindex="-1" role="dialog" ng-controller="assumeIdentityController as assumeIndtCtrl"> 
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"><span class="glyphicon glyphicon-user"></span>Assume Identity</h3>
        </div>
        <div class="modal-body">
			 <select name="repeatSelect" id="repeatSelect" ng-model="assumeIndtCtrl.selectedNode">
                <option ng-repeat="path in assumeIndtCtrl.allPath" value="{{path}}">{{path}}</option>
            </select>
            <hr /> 
        </div>
        <div class="modal-footer">
            <p> &copy; Copyright 2016 Created by David Sajdl</p>
        </div>
    </div>
  </div>
</div>