.nodesChilders {
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: -40px;
}

.leftContainer {
  	background-color: #fff;
  	box-shadow: 10px 10px 10px 10px #c2c2c2;
    float: left;
    margin: 5px 2px 10px 15px;
    padding: 0px 5px 15px 2px;
    height: 450px;
    width: 31%;
}
h4.accountSelectedTitle{
	margin-left: 2px;
	color: #808080;
	font-style: italic;
}
h4.accountTitle{
	margin-left: 20px;
	color: #808080;
	font-style: italic;

}
div.container.col-md-4{
	margin-left: -30px !important;
}
ul.nodeListName {
	margin-left: -10px;
}
/*--------------------*/
.nodesName {
  font-size: 1.2em;
  line-height: 1.3em;
  position: relative; 
}

.nodesName input {
    display: none;
    border-radius: 12px;
    padding: 3px 7px;
    border: 2px solid #005695;
    margin: 4px 0; 
}
 
.nodesName .active span.nodes-II  {
    display: none; 
}

.nodesName .active input {
    display: inline-block; 
}

.nodesName .active + span.node-buttons {
    display: none; 
}

input.editField  {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid gray;
    background-color: lightgray;
    padding: 3px 7px;
    margin: 4px 0;
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    text-overflow: ellipsis; 
}

input.editField.selected {
      background-color: #005695;
      color: #fff;
      font-weight: bold;
      font-style: italic; 
 }

.accoutInfoContent {
	margin: 20px 10px 25px 30px;
	height: 100px;
}
.accoutDetailsContent {
	margin: 20px 10px 25px 30px;
	height: 180px;	
}

.text {
	margin-bottom: 10px;
}
.textWork {
	margin-bottom: 50px;
}
.textContent {
	text-align: justify;
	text-justify: inter-word;
	margin: 0px 45px 10px 30px;
	background-color: #f8f8f8;
	padding: 10px;
}
/*
.node .error-message {
    display: none;
    position: absolute;
    top: -20px;
    left: 165px;
    z-index: 100;
    background-color: #fff;
    color: #f0ad4e;
    border-radius: 6px;
    padding: 1px 6px;
    border: 1px solid #f0ad4e;
    font-size: 0.8em; 
}

.node .error .error-message {
    display: inline-block; 
}*/


.rightContainer {
	background-color: #fff;
  	box-shadow: 10px 10px 10px 10px #c2c2c2;
	float:  right;
	margin: 5px 30px 10px 5px;
	padding: 1px 15px 15px 10px;
	width: 61%;
	height: 450px;
}
