.nodesChilders {
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: -40px;
}

/*------------------------------*
***   left side of the page   ***
*-------------------------------*/
.leftContainer {
  	background-color: #fff;
  	box-shadow: 10px 10px 10px 10px #c2c2c2;
    float: left;
    margin: 5px 2px 10px 15px;
    padding: 0px 5px 15px 2px;
    height: 450px;
    width: 31%;
}
h4.accountSelectedTitle{
	margin-left: 2px;
	color: #808080;
	font-style: italic;
}
h4.accountTitle{
	margin-left: 20px;
	color: #808080;
	font-style: italic;

}
div.container.col-md-4{
	margin-left: -30px !important;
}
ul.nodeListName {
	margin-left: -10px;
}
/*----------------------------------*
***  Account or node hierarchies  ***
*-----------------------------------*/
.node input  {
  display: none;
  border-radius: 2px;
  padding: 3px 7px;
  margin: 4px 0;
}

.node .active input  {
  border-radius: 2px;
  padding: 3px 7px;
  margin: 4px 0;
  border: 2px solid #005695;
  color: #A60400;
  font-weight: bold;
  background-color: #f8f8f8;
}
.node .active span.nodesName {
    display: none; 
}

.node span.nodesName {
    font-size: 90%;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid gray;
    background-color: lightgray;
    padding: 3px 7px;
    margin: 4px 0;
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    text-overflow: ellipsis;
}
.node span.nodesName.selected {
      font-size: 90%;
      background-color: #005695;
      color: #fff;
      font-weight: bold;
      font-style: italic; 
 }

/*-------------------------------*
***   right side of the page   ***
*--------------------------------*/
.rightContainer {
	background-color: #fff;
  	box-shadow: 10px 10px 10px 10px #c2c2c2;
	float:  right;
	margin: 5px 30px 10px 5px;
	padding: 1px 15px 15px 10px;
	width: 61%;
	height: 450px;
}

.accoutInfoContent {
  margin: 20px 10px 25px 30px;
  height: 100px;
}
.accoutDetailsContent {
  margin: 20px 10px 25px 30px;
  height: 180px;  
}

.text {
  margin-bottom: 10px;
}
.textWork {
  margin-bottom: 50px;
}
.textContent {
  text-align: justify;
  text-justify: inter-word;
  margin: 0px 45px 10px 30px;
  background-color: #f8f8f8;
  padding: 10px;
}


/* form */
.formText {
  margin-left: 23px;
}
.formContainer {
  margin: 10px 30px 0px 20px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: #f8ffff;
  padding: 15px 25px 0px 40px;
}

.btnSave {
  float: right;
  margin-top: -35px;
}
