<div class="modale" tabindex="-1"> <!-- role="dialog" -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-show="title">
               <!--     <button type="button" class="close" ng-click="$hide()">&times;</button> -->
                    <h3 class="modal-title" ng-bind="title"></h3>
                </div>
                <h4 class="modal-body" ng-bind="content"></h4>
                <div class="modal-footer">
                  <!--  <button type="button" ng-click="$hide()" >Close <br/>Template</button -->
                     <p class="">Creted By David Sajdl 2015</p>
                </div>
            </div>
        </div>
</div>
