<div class="modale" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-show="title">
               <!--     <button type="button" class="close" ng-click="$hide()">&times;</button> -->
                    <h3 style="text-align:center" class="modal-title" ng-bind="title"></h3>
                </div>
                <h4 style="text-align:center" class="modal-body" ng-bind="content"></h4>
                <div class="modal-footer">
                    <button type="button" ng-click="$hide()" >Close <br/>Template</button>
                     <p  style="float:right" class="">David Sajdl</p>
                </div>
            </div>
        </div>
</div>
