.mainContainer
{
	background-color: #ffffff;
	width: 80%;
	box-shadow: 10px 10px 10px 10px #c2c2c2;
	border-radius: 35px;
	margin: 2em auto;
	margin-left: 10%;
	padding: 0% 2% 0% 2%;
	overflow: auto;
}
.color-left
{
	width: 40%;
	float: left;
}
.color-right
{
	width: 40%;
	float: right;
}
.colorContent
{
	padding: 10px;
	border: 1px solid #f3f3f3;
	border-radius: 25px;
	overflow: auto;
	margin-bottom: 25px;
}
.subContainer
{
	overflow: auto;
}
button
{
	margin-bottom: 15px;
	color: #000000;
	text-decoration: none;
	padding: 0.5% 1% 0.5% 1%;
	border-radius: 5px;
	background-color: #ffffff;

}
button:hover
{ 
	margin-bottom: 15px;
	color: #000000;
	text-decoration: none;
	padding: 0.5% 1% 0.5% 1%;
	background-color: #c2c2c2;
}
.red
{
	background-color: #ff0000;
	color:  #00a600; 
	margin-bottom: 15px;
	border: 1px solid #00a600;
	border-radius: 20px;
	padding: 0px 20px;
}
.white
{
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 15px;
	border: 1px solid #000000;
	border-radius: 20px;
	padding: 0px 20px;
}
.black
{
	background-color: #000000;
	color: #ffffff;
	margin-bottom: 15px;
	border: 1px solid #ffffff;
	border-radius: 20px;
	padding: 0px 20px;	
}
.green
{
	background-color: #00a600;
	color: #ff0000;
	margin-bottom: 15px;
	border: 1px solid #ff0000;
	border-radius: 20px;
	padding: 0px 20px;
}
.yellow
{
	background-color: #ffff00;
	color: #800080;
	margin-bottom: 15px;
	border: 1px solid #800080;
	border-radius: 20px;
	padding: 0px 20px;
}
.blue
{
	background-color: #0000ff;
	color: #ffa500;
	margin-bottom: 15px;
	border: 1px solid #ffa500;
	border-radius: 20px;
	padding: 0px 20px;
}
.author
{
	float: right;
	font-size: 80%;
	margin-right: 15px;
	margin-top: -40px;
}
.btnRefresh
{
	float: right;
	overflow: auto;
	margin-bottom: 10px;
}
button.btnRefresh:hover
{
	margin-bottom: 10px;
}
.footer
{
	border-top: solid 1px #c2c2c2;
	margin-top: 20px;
	padding-top: 10px; 
	font-size: 12px;
	padding-bottom: 10px;
}
.webAuthor
{
	float:right;
	margin-top: 0px;
}
