<div class="modal" tabindex="-1" role="dialog" ng-controller="aboutController as aboutCtrl"> 
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
         <button type="button" ng-click="aboutCtrl.close()" class="btn close" data-dismiss="modal" aria-label="Close">X</button>
            <h3 class="modal-title">About Employee Managment App</h3>
        </div>

        <div class="modal-body">
            <div class="modal-contens">
            <div class="aboutContent">
              <p>Some content</p>
            </div>
            </div>
            <div id="right">
              <button class="btn btn-primary" ng-click="aboutCtrl.close()">Cancel</button>
            </div>  
        </div>
        <div class="modal-footer">
             <div class="row">
                   <div class="col-sm-4 col-sm-offset-8">
                <span> &#169; Copyright 2016 Created by David Sajdl</span> 
                </div>
            </div>
        </div>
    </div>
  </div>
</div>