<div class="nodesChilders">
	
	<div class="leftContainer">
		<div class="container col-md-4" ng-controller="nodeController as nodeCtrl" ng-init="nodeCtrl.init()">
			<h3>Hirarchies Account</h3>

			<script type="text/ng-template" id="tree_template.html">
				<edit-node-in-place
 						value="{{s.name}}" >
 				</edit-node-in-place> 
 				 <ul>
                    <li ng-repeat="s in s.child" ng-include="'tree_template.html'"></li>
                </ul>
			</script>
			<ul>
                <li class="node-list" ng-repeat="s in [nodeCtrl.assumedNode]" ng-include="'tree_template.html'"></li>
            </ul>
         </div>
	</div>

		<div class="rightContainer">
					
					<h3>Nodes:</h3>
					<p>some content</p>
	
		</div>



</div>