<div class="teamDetailsContainer">
	<div class="teamLogo">
		<img class="logoOfTeam" title="Image Courtesy: Wikipedia" 
			ng-src="{{ teamDetailsCtrl.team.logoUrl }}">
	</div>
	<div class="name">
		<span class="teamName" ng-bind="teamDetailsCtrl.team.name"></span>
		(<span class="shortName" ng-bind="teamDetailsCtrl.team.fifaCode"></span>)
	</div>
	<div class="detail">
		<span class="label">Nickname :</span>
		<span class="title" ng-bind="teamDetailsCtrl.team.nickname"></span>
	</div>
	<div class="detail">
		<span class="label">FIFA Ranking :</span>
		<span class="title" ng-bind="teamDetailsCtrl.team.fifaRanking"></span>
	</div>
	<div class="detail">
		<span class="label">Association :</span>
		<span class="title" ng-bind="teamDetailsCtrl.team.association"></span>
	</div>
	<div class="detail">
		<span class="label">Head Coach :</span>
		<span class="title" ng-bind="teamDetailsCtrl.team.headCoach"></span>
	</div>
	<div class="detail">
		<span class="label">Captain :</span>
		<span class="title" ng-bind="teamDetailsCtrl.team.captain"></span>
	</div>
</div>